@import '../partials/mixins';
@import '../partials/variables.scss';

.container {

    // SX PART

    .col {

        h2 {
            text-transform: uppercase;
            font-size: 29px;
        }

        .my-container {
            width: 100%;
            margin: 0 auto;
            @include flex;
            justify-content: flex-start;
            background-color: $green;


            .row {
                width: 100%;
                padding: 15px 0px 15px 0;
                margin: 0;

                p {
                    margin: 0;
                    color: $yellow;
                    font-weight: 600;
                }

                span {
                    color: $white;
                    font-weight: 600;
                }

                .col-70 {
                    width: 70%;
                    border-right: 1px solid rgb(62, 62, 62);

                }

                .col-30 {
                    width: 30%;

                }
            }
        }
    }

    // DX PART

    .col {
        .content {
            h5 {
                text-transform: uppercase;
                font-size: 18px;
            }
        }
    }
}